<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h1>Vercel Revert to Main Test 2222</h1>
    <video style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted" autoplay>
    <source src="http://localhost:3000/video" type="video/mp4">
    </video>
    </div>
    </div>